.my-page-wrapper {
	width: 100%;
	height: 100%;
	margin-top: 1.3rem;
	display: flex;
	align-items: center;
	justify-content: center;
}

.my-page-container {
	width: 50%;
	display: flex;
	flex-direction: column;
	align-items: center;
	padding: 3rem;
	border: 0.1rem solid var(--font-color);
	border-radius: 1rem;
}

.my-page-header {
	width: 100%;
	font-size: 3rem;
	font-weight: 900;
	margin-bottom: 2rem;
	display: flex;
}

.my-page-header::before {
	content: "";
	margin-right: 1rem;
	padding: 0.15rem;	
	background-color: var(--font-color);
}

.my-page-content {
	width: 100%;
	height: 100%;
	display: flex;
	flex-direction: column;
	align-items: center;
}

.form-item {
	width: 100%;
	display: flex;
	align-items: center;
	justify-content: center;
	margin-bottom: 2rem;
}

.my-page-content > .form-item > input {
	font-size: 1.3rem;
	background: none;
	transition: 0.1s ease-in-out;
	color: var(--font-color);
	padding: 1rem;
	border-bottom: 0.1rem solid var(--font-color);
}

.my-page-content > .form-item > input:focus {
	background: var(--dark-content-color);
	outline: 0.15rem solid var(--font-color);
}

.info-update-btn,
.with-draw-btn {
	padding: 1rem;
	border: 0.1rem solid var(--font-color);
	border-radius: 1rem;
	font-size: 1.2rem;
	transition: 0.3s ease-in-out;
}

.info-update-btn:hover,
.with-draw-btn:hover {
	cursor: pointer;
	background-color: var(--btn-background-color);
	border: 0.1rem solid var(--strong-font-color);
	color: var(--strong-font-color);
}