.project {
	width: 100%;
	min-height: 100%;
	margin-top: 1.3rem;
}

.project-container {
	width: 100%;
	height: 7vh;
	display: flex;
	flex-direction: column;
	border-bottom: 0.05rem solid var(--font-color);
}

.project-title {
	background-color: var(--dark-content-color);
	border-radius: 1rem 1rem 0 0;
}

.project-title,
.project-content {
	width: 100%;
	height: 100%;
	display: flex;
	align-items: center;
	justify-content: space-around;
	transition: 0.2s ease-in-out;
}

.project-content:hover {
	cursor: pointer;
	background-color: var(--btn-background-color);
}

.project-item:nth-child(1) {
	width: 5%;
}

.project-item:nth-child(2){
	width: 45%;
}

.project-item:nth-child(3) {
	width: 10%;
}

.project-item:nth-child(4) {
	width: 40%;
}

.project-item > p {
	text-align: center;
	color: var(--font-color);
}

.page-num-wrapper {
	width: 100%;
}

.page-num-container {
	width: 100%;
	display: flex;
	align-items: center;
	justify-content: flex-end;
}

.page-num {
	display: flex;
	align-items: center;
	justify-content: center;
	padding: 1rem;
	margin-right: 35%;
}

.page-num > span {
	text-align: center;
	border-radius: 1rem;
	width: 1.7rem;
	padding: 0.15rem;
	transition: 0.3s ease-in-out;
	color: var(--font-color);
	border: 0.1rem solid var(--font-color);	
}

.page-num > span:hover {
	cursor: pointer;
	color: var(--strong-font-color);
	background-color: var(--btn-background-color);
}

.page-num-item {
	margin: 0 0.3rem;
}

.project-register-btn {
	border: 0.1rem solid var(--font-color);
	border-radius: 1rem;
	padding : 0.3rem 0.7rem;
	transition: 0.3s ease-in-out;
}

.project-register-btn:hover {
	background-color: var(--btn-background-color);
	cursor: pointer;
	color: var(--strong-font-color);
	border: 0.1rem solid var(--strong-font-color);
}