<html xmlns:th="http://www.thymeleaf.org">
	<form id="sign-up-form" th:action="@{/member/sign-up}" method="post">
		<div class="sign-up-wrapper">
			<div class="sign-up-container">
				<div class="sign-up-header">
					<p>Sign Up</p>
				</div>
				<div class="sign-up-content">
					<div class="form-item">
						<input type="text" name="userId" placeholder="아이디를 입력해주세요" />
						<div class="error-msg"></div>
					</div>
					<div class="form-item">
						<input type="password" name="userPw" placeholder="패스워드를 입력해주세요" />
						<div class="error-msg"></div>
					</div>
					<div class="form-item">
						<input type="text" name="userName" placeholder="성함을 입력해주세요" />
						<div class="error-msg"></div>
					</div>
					<div class="form-item">
						<input type="email" name="userEmail" placeholder="email을 입력해주세요" />
						<div class="error-msg"></div>
					</div>
					<div class="form-item">
						<p><input type="radio" id="man-radio" name="userGender" value="MAN" /> <label for="man-radio">Man</label></p>
						<p><input type="radio" id="woman-radio" name="userGender" value="WOMAN" /> <label for="woman-radio">Woman</label></p>
						<p><input type="radio" id="anonym-radio" name="userGender" value="ANONYM" /> <label for="anonym-radio">Anonym</label></p>
						<div class="error-msg"></div>
					</div>
					<div class="form-item">
						<select name="userJob">
							<option>PM</option>
							<option>프론트엔드 개발자</option>
							<option>백엔드 개발자</option>
							<option>DBA</option>
							<option>UI/UX 디자이너</option>
							<option>QA 엔지니어</option>
						</select>
						<div class="error-msg"></div>
					</div>
					<button type="submit" class="sign-up-btn">Sign Up</button>
				</div>
			</div>
		</div>
	</form>
</html>