<div xmlns:th="http://www.thymeleaf.org" th:fragment="defaultContentFragment">
	<search>
		<form action="/project-board/search" method="get" class="page-title">
			<p>프로젝트 찾는 중...</p>
			<label for="search-project-input">
				<i class="fa-solid fa-magnifying-glass"></i>
			</label>
			<input type="search" id="search-project-input" class="search-project" name="projectName" />
			<button type="submit" class="search-btn">검색</button>
		</form>
	</search>
	<div class="project">
		<div class="project-container">
			<div class="project-title">
				<div class="project-item">
					<p>NUM</p>
				</div>
				<div class="project-item">
					<p>TITLE</p>
				</div>
				<div class="project-item">
					<p>WRITER</p>
				</div>
				<div class="project-item">
					<p>DATE</p>
				</div>
			</div>
		</div>
		<th:block th:each="projectItem, rowStat : ${projectList}">
			<!--<p th:text="${projectItem}"></p>-->
			<div class="project-container">
				<div class="project-content">
					<div class="project-item">
						<p th:text="${rowStat.index + 1}">1</p>
					</div>
					<div class="project-item">
						<p>
							<a 
							    href="#"
							    th:data-url="@{/project-board/detail(projectId=${projectItem.projectId})}" 
							    th:text="${projectItem.projectName}" 
							    onclick="loadContent(event)">
							</a>
						</p>
					</div>
					<div class="project-item">
						<p th:text="${projectItem.projectLeader}"></p>
					</div>
					<div class="project-item">
						<p>
							<span th:text="${projectItem.projectStartDate}"></span>
							~
							<span th:text="${projectItem.projectEndDate}"></span>
						</p>
					</div>
				</div>
			</div>
		</th:block>
	</div>
	<div class="page-num-wrapper">
	    <div class="page-num-container">
			<div class="page-num">
		        <span th:if="${currentPage > 0}">
		            <a href="#" th:href="@{/(page=${currentPage - 1})}">
		                <i class="fa-solid fa-chevron-left"></i>
		            </a>
		        </span>
		        <span th:each="i : ${#numbers.sequence(0, totalPages - 1)}">
		            <a href="#" th:href="@{/(page=${i})}" 
		               th:classappend="${i == currentPage} ? 'active' : ''">
		                <span th:text="${i + 1}"></span>
		            </a>
		        </span>
		        <span th:if="${currentPage < totalPages - 1}">
		            <a href="#" th:href="@{/(page=${currentPage + 1})}">
		                <i class="fa-solid fa-chevron-right"></i>
		            </a>
		        </span>
			</div>
			<div class="project-register-btn">
				<a href="#" th:data-url="@{project-board/register}" onclick="loadContent(event)">프로젝트 등록</a>
			</div>
	    </div>
	</div>
</div>