<div xmlns:th="http://www.thymeleaf.org" th:fragment="defaultContentFragment">
	<search>
		<div class="page-title">
			<p>프로젝트 찾는 중...</p>
			<label for="search-project-input">
				<i class="fa-solid fa-magnifying-glass"></i>
			</label>
			<input id="search-project-input" class="search-project" name="project_name" type="text" />
			<button class="search-btn">검색</button>
		</div>
	</search>
	<div class="board">
		<div class="board-container">
			<div class="board-title">
				<div class="board-item">
					<p>NUM</p>
				</div>
				<div class="board-item">
					<p>TITLE</p>
				</div>
				<div class="board-item">
					<p>WRITER</p>
				</div>
				<div class="board-item">
					<p>DATE</p>
				</div>
				<div class="board-item">
					<p>COUNT</p>
				</div>
			</div>
		</div>
		<div class="board-container">
			<div class="board-content">
				<div class="board-item">
					<p>1</p>
				</div>
				<div class="board-item">
					<p>
						<a 
							href="#" 
							th:data-url="@{project-board/detail}" 
							onclick="loadContent(event)"
						>
							프로젝트 팀원 구합니다.
						</a>
					</p>
				</div>
				<div class="board-item">
					<p>임성준</p>
				</div>
				<div class="board-item">
					<p>YYYY-MM-DD</p>
				</div>
				<div class="board-item">
					<p>12</p>
				</div>
			</div>
		</div>
		
		<div class="board-container">
			<div class="board-content">
				<div class="board-item">
					<p>2</p>
				</div>
				<div class="board-item">
					<p>프로젝트 팀원 구합니다.</p>
				</div>
				<div class="board-item">
					<p>임성준</p>
				</div>
				<div class="board-item">
					<p>YYYY-MM-DD</p>
				</div>
				<div class="board-item">
					<p>12</p>
				</div>
			</div>
		</div>
		
		<div class="board-container">
			<div class="board-content">
				<div class="board-item">
					<p>3</p>
				</div>
				<div class="board-item">
					<p>프로젝트 팀원 구합니다.</p>
				</div>
				<div class="board-item">
					<p>임성준</p>
				</div>
				<div class="board-item">
					<p>YYYY-MM-DD</p>
				</div>
				<div class="board-item">
					<p>12</p>
				</div>
			</div>
		</div>
		
		<div class="board-container">
			<div class="board-content">
				<div class="board-item">
					<p>4</p>
				</div>
				<div class="board-item">
					<p>프로젝트 팀원 구합니다.</p>
				</div>
				<div class="board-item">
					<p>임성준</p>
				</div>
				<div class="board-item">
					<p>YYYY-MM-DD</p>
				</div>
				<div class="board-item">
					<p>12</p>
				</div>
			</div>
		</div>
		
		<div class="board-container">
			<div class="board-content">
				<div class="board-item">
					<p>5</p>
				</div>
				<div class="board-item">
					<p>프로젝트 팀원 구합니다.</p>
				</div>
				<div class="board-item">
					<p>임성준</p>
				</div>
				<div class="board-item">
					<p>YYYY-MM-DD</p>
				</div>
				<div class="board-item">
					<p>12</p>
				</div>
			</div>
		</div>
		<div class="board-container">
			<div class="board-content">
				<div class="board-item">
					<p>6</p>
				</div>
				<div class="board-item">
					<p>프로젝트 팀원 구합니다.</p>
				</div>
				<div class="board-item">
					<p>임성준</p>
				</div>
				<div class="board-item">
					<p>YYYY-MM-DD</p>
				</div>
				<div class="board-item">
					<p>12</p>
				</div>
			</div>
		</div>
		<div class="board-container">
			<div class="board-content">
				<div class="board-item">
					<p>7</p>
				</div>
				<div class="board-item">
					<p>프로젝트 팀원 구합니다.</p>
				</div>
				<div class="board-item">
					<p>임성준</p>
				</div>
				<div class="board-item">
					<p>YYYY-MM-DD</p>
				</div>
				<div class="board-item">
					<p>12</p>
				</div>
			</div>
		</div>
		<div class="board-container">
			<div class="board-content">
				<div class="board-item">
					<p>8</p>
				</div>
				<div class="board-item">
					<p>프로젝트 팀원 구합니다.</p>
				</div>
				<div class="board-item">
					<p>임성준</p>
				</div>
				<div class="board-item">
					<p>YYYY-MM-DD</p>
				</div>
				<div class="board-item">
					<p>12</p>
				</div>
			</div>
		</div>
		<div class="board-container">
			<div class="board-content">
				<div class="board-item">
					<p>9</p>
				</div>
				<div class="board-item">
					<p>프로젝트 팀원 구합니다.</p>
				</div>
				<div class="board-item">
					<p>임성준</p>
				</div>
				<div class="board-item">
					<p>YYYY-MM-DD</p>
				</div>
				<div class="board-item">
					<p>12</p>
				</div>
			</div>
		</div>
		<div class="board-container">
			<div class="board-content">
				<div class="board-item">
					<p>10</p>
				</div>
				<div class="board-item">
					<p>프로젝트 팀원 구합니다.</p>
				</div>
				<div class="board-item">
					<p>임성준</p>
				</div>
				<div class="board-item">
					<p>YYYY-MM-DD</p>
				</div>
				<div class="board-item">
					<p>12</p>
				</div>
			</div>
		</div>
	</div>
	<div class="page-num-wrapper">
		<div class="page-num-container">
			<div class="page-num">
				<span>
					<i class="fa-solid fa-chevron-left"></i>
				</span>
				<span class="page-num-item">1</span>
				<span class="page-num-item">2</span>
				<span class="page-num-item">3</span>
				<span>
					<i class="fa-solid fa-chevron-right"></i>
				</span>
			</div>
			<div class="project-register-btn">
				<a href="#" th:data-url="@{project-board/register}" onclick="loadContent(event)">프로젝트 등록</a>
			</div>
		</div>
	</div>
</div>