<html xmlns:th="http://www.thymeleaf.org">
	<div class="project-board-detail-wrapper">
		<div class="project-board-detail-container">
			<div class="project-board-detail-header">
				<div class="project-board-detail-goal">
					<p th:text="${project.projectGoal}" ></p>
				</div>
				<div class="project-board-detail-sub-header">
					<div class="project-board-detail-leader">
						<p>팀 리더</p>
						<p th:text="${project.projectLeader}"></p>
					</div>
					<div class="project-board-detail-number-of-people">
						<p>인원 수</p>
						<p th:text="${project.numberOfPeople} + '명'"></p>
					</div>
					<div class="project-board-detail-tech-stack">
						<p>기술스택</p>
						<div class="project-board-detail-tech-stack-item" th:each="techStack : ${project.techStacks}">
						    <p th:text="${techStack}"></p>
						</div>
					</div>
					<div class="project-board-detail-project-period">
						<p>프로젝트 기간</p>
						<p><span th:text="${project.projectStartDate}"></span> ~ <span th:text="${project.projectEndDate}"></span></p>
					</div>
				</div>
			</div>
			<div class="project-board-detail-content">
				<p th:text="${project.projectContent}"></p>
			</div>
			<div class="project-board-detail-btn-wrapper">
				<button type="button" class="project-board-detail-btn">팀원 신청하기</button>
			</div>
		</div>
	</div>	
</html>